# --- AWS Credentials and Region ---
# Ключи доступа для IAM-пользователя с правами на управление EC2
export AWS_ACCESS_KEY_ID="AKIA..."
export AWS_SECRET_ACCESS_KEY="ВАШ_СЕКРЕТНЫЙ_КЛЮЧ"
export AWS_REGION="eu-north-1" # Ваш регион AWS

# --- EC2 Parameters ---
# Параметры для создания EC2-инстанса
export EC2_KEY_NAME="my-demo-key"
export EC2_SECURITY_GROUP_IDS="sg-..."
export EC2_SUBNET_ID="subnet-..."
export EC2_AMI_ID="ami-..."

# --- SSH Private Key ---
# Содержимое .pem файла для подключения к создаваемому EC2
export AWS_PRIVATE_KEY_CONTENT="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----"
